$black: #000000;
$white: #ffffff;
$light-gray: #e7e7e7;
$dark-gray: #d3d3d3;
$blue: #0057ff;
$blue-light: #4783fb;
$blue-dark: #003bb0;
$orange: #ffa332;
$orange-light: #feb255;
$orange-dark: #f38600;
